extends schedulo-main 

block main 
  section#employees
    header
      h2 Employee Roster

    if employees.length === 0
      p#nolist No employees. Why not add someone?
      block main 
        .action 
        a(href="/employees/new") Add new employee    

    else
      table 
        thead 
          tr 
            th Id 
            th Name 
            th No scheduling 
            th Edit 
            th Delete
        tbody 
          each employee in employees
            tr 
              td= employee.id
              td= employee.name 
              td= employee.noScheduling ? 'None' : employee.noScheduling
              td
                form(action=`/employees/${employee.id}/edit` method="get")
                  button.edit(type="submit") Edit
              td 
                form.delete(action=`/employees/${employee.id}/delete`      
                            method="post")
                  button(class="button-delete")
        tfoot 
          tr 
            td(colspan="3")
              a(href=`/employees/new`) Add new employee

block headerLinks
  .actions 
    a(href="/home") Go back
