extends schedulo-main 

block main 
  section#shifts 
    header
      h2 Shifts for #{employeeName}

    
    h3 Current Week
    table 
      thead
        tr 
          th
          each day in currentWeek.days
            th #{day.name}

        tr 
          th Morning
          each day in currentWeek.days 
            td #{day.shifts.Morning}
          

        tr 
          th mid-Morning
          each day in currentWeek.days 
            td #{day.shifts.midMorning}

        tr
          th Afternoon
          each day in currentWeek.days 
            td #{day.shifts.Afternoon}
  
    h3 Remove a shift
    form(action=`/schedule/${employeeId}/shifts` method="post")
      dl
        dt 
          label(for="week") Select a week: 
        dd 
          select(name="weekId"
                 id="weekId")
            option(value=currentWeek.id) Current Week 
            option(value=nextWeek.id) Next Week

        dt 
          label(for="day") Select a day: 
        dd 
          select(name="dayId"
                 id="dayId")
            each day in currentWeek.days
              option(value=day.id) #{day.name}

        dt 
          label(for="shiftTime") Select a shift: 
        dd 
          select(name="shiftTime"
                 id="shiftTime")
            option(value="Morning") Morning 
            option(value="midMorning") Mid-morning 
            option(value="Afternoon") Afternoon

      fieldset.actions
        input(type="submit" value="Delete")
        a(href=`/schedule}`) Cancel

block headerLinks
  .actions 
    a(href="/employees") Go back